.section{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom-width: 2px;
    cursor: pointer;
    min-width: 200px;
    color: gray !important;
    border-width: 0px;
}

.section-selected{
    /* background-color: whitesmoke; */
    border-width: 3px !important;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 3px !important;
}